<h1>Profile</h1>

<div class="row">
    <div class="col s6">
        <img class="avatar" src="https://habrastorage.org/web/c14/d39/90e/c14d3990e3254c9caf7a0670d3f6c088.jpg" alt="">

        <p>No avatar</p>
    </div>
    <div class="col s6">
        <form action="/profile" method="POST">
            <p>Your E-Mail is: <strong>{{user.email}}</strong></p>
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
                <label for="name">Your name</label>
                <span class="helper-text" data-error="The name field cannot be empty"></span>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Avatar</span>
                    <input type="file" multiple name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn">Edit</button>
        </form>
    </div>
</div>